@model Gerencia_Proyectos_.Models.OrdenPedidos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenPedidos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrpción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrpción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuProductos.CodiProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuProductos.CodiProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesas.NumMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesas.NumMesa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
