@model IEnumerable<Gerencia_Proyectos_.Models.OrdenPedidos>

@{
    ViewBag.Title = "Index";
}

@{
    var rol = Session["rol"];
    if (rol == null)
    {
        <h2>Mi Carrito</h2>

        ViewBag.Title = "AgregarCarrito";

        <h2>Mi Carrito</h2>

        <table>
            <tr>
                <th> Id </th>
                <th> TipoProducto </th>
                <th> Descripcion  </th>
                <th> Precio </th>
                <th> Cantidad </th>
                <th> Total </th>

            </tr>
            <tbody>
                @{
                    double total = 0;
                }

                @if (Session["carrito"] != null)
                {
                    foreach (var item in Session["carrito"] as List<Gerencia_Proyectos_.Models.CarritoItem>)
                    {
                        total += (double)(item.Cantidad * item.Producto.PrecioProd);
                        <tr>
                            <td>  @item.Producto.IDProd  </td>
                            <td>  @item.Producto.TipoProd  </td>
                            <td>  @item.Producto.DescProd  </td>
                            <td>  @String.Format(" {0:¢  }", item.Producto.PrecioProd)</td>
                            <td>  @item.Cantidad</td>
                            <td>  @String.Format("{0:¢ }", (item.Cantidad * item.Producto.PrecioProd))</td>
                        </tr>

                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Total </th>

                    <th>@String.Format("{0:¢ }", total) </th>
                </tr>
            </tfoot>

        </table>
        @Html.ActionLink("Seguir Comprando", "Index", "MenuProductos")
    }
    else
    {
        ViewBag.Title = "Pedidos";
        <table class="table">
            <tr>
                <th>
                    Numero pedido
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Mesa
                </th>
                <th>
                    Fecha/Hora
                </th>
                <th>
                    Total
                </th>

            </tr>

            @foreach (var item in Model)
            {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrden)
                </td>
                <td>
                    
                    @{
                        if (item.Estado == "1")
                        {
                            <p class="text-danger">Pendiente de pagar</p>
                        }
                        else
                        {
                            <p class="text-success">Pagado</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMesa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdOrden }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdOrden }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdOrden })
                </td>
        </tr>
            }

        </table>
        @Html.ActionLink("Volver", "Index", "Administrador")
    }
}










