@model IEnumerable<Gerencia_Proyectos_.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONEY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesas.NumMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenPedidos.CodProd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONEY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mesas.NumMesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenPedidos.CodProd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_factura }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_factura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_factura })
        </td>
    </tr>
}

</table>
