@model Gerencia_Proyectos_.Models.Detalle_Factura

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalle_Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Mesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Mesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CajasRecepcion.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CajasRecepcion.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesas.NumMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesas.NumMesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenPedidos.CodProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenPedidos.CodProd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
