@model Gerencia_Proyectos_.Models.MenuProductos

@{
    ViewBag.Title = "Delete";
}


<h4 class="text-center text-info mt-5">Eliminar producto</h4>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(model => model.CodiProd)</th>
                <td>@Html.DisplayFor(model => model.TipoProd)</td>
                <td>@Html.DisplayFor(model => model.DescProd)</td>
                <td>@Html.DisplayFor(model => model.PrecioProd)</td>
            </tr>
        </tbody>
    </table>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color container">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index")
    </div>
}

