@model IEnumerable<Gerencia_Proyectos_.Models.MenuProductos>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-2">Menu Principal de Productos</h2>

<button class="btn btn-success my-4">
    @Html.ActionLink("Crear nuevo producto", "Create", new {@class = "bg-light" }) 
</button>
<table class="table table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CodiProd)*@
            Codigo
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoProd)*@
            Tipo de Producto
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DescProd)*@
            Descripcion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PrecioProd)*@
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodiProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProd)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id=item.IDProd }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IDProd }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDProd })
        </td>
    </tr>
}

</table>
