@model Gerencia_Proyectos_.Models.Personal

@{
    ViewBag.Title = "Details";
}

<h4 class="text-center text-info mt-5">Detalle usuario</h4>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Puesto</th>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(model => model.IdUsuario)</th>
                <td>@Html.DisplayFor(model => model.Puesto)</td>
                <td>@Html.DisplayFor(model => model.Cedula)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Apellidos)</td>
                <td>@Html.DisplayFor(model => model.Telefono)</td>
                <td>@Html.DisplayFor(model => model.Correo)</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Volver", "Index")
</p>
