@model IEnumerable<Gerencia_Proyectos_.Models.Personal>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-2">Lista de empleados</h2>


@*<div class="well">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >   
            <a href="@Url.Action("Create")" class="btn success">
                <i class="glyphicon glyphicon-plus"></i>
            </a>

        </div>

    </div>

</div>*@



<button class="btn btn-success my-4">
    @Html.ActionLink("Crear nuevo usuario", "Create", new { @class = "bg-light" })
</button>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Puesto)*@
            Puesto
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Cedula)*@
            Cedula
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            Nombre
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Apellidos)*@
            Apellidos
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Telefono)*@
            Telefono
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Correo)*@
            Correo
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
