@model IEnumerable<Gerencia_Proyectos_.Models.MenuProductos>

@{
    ViewBag.Title = "Index Menu - Productos";
}

<h2>Menu - Productos</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodiProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantProd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodiProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantProd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProd }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProd })
        </td>
    </tr>
}

</table>
