@model IEnumerable<Gerencia_Proyectos_.Models.MenuProductos>

<add namespace="System.Web.Mvc" />



@{
    ViewBag.Title = "Index Menu - Productos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <h2>Menu - Productos</h2>

    <div class="container mt-3 mb-5">
        <h1 class="text-center text-dark m-5">Productos Favoritos</h1>

        @if (Model != null)
        {
            <table class="table">
                <tr>
                    @*<th>IdOrden </th>*@
                    @*<th>CodProd </th>*@
                    <th>Descrpción </th>
                    <th>Cantidad </th>
                    <th>Precio </th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@item.IDProd   </td>*@
                            <!--<td>-->@*@item.CodiProd*@    <!--</td>-->
                            <!--<td>-->@*@item.TipoProd*@    <!--</td>-->
                            <td>@item.DescProd</td>
                            <td><input type="number" name="cantidad"/></td>
                            <td>@string.Format("{0:C}", @item.PrecioProd) </td>
                            @*<td>@item.CantProd  </td>*@


                            <td>@Html.ActionLink("Agregar", "AgregarCarrito", "Carrito", new { Id = item.IDProd }, null) </td>
                        </tr>
                    }

                </tbody>
            </table>
         }
       

</body>
</html>
