@model IEnumerable<Gerencia_Proyectos_.Models.MenuProductos>

<add namespace="System.Web.Mvc" />



@{
    ViewBag.Title = "Index Menu - Productos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <h2>Menu - Productos</h2>

    <div class="container mt-3 mb-5">
        <h1 class="text-center text-dark m-5">Productos Favoritos</h1>

        @if (Model != null)
        {
            <Table>
                <thead>
                    <tr>
                        @*<th>IdOrden </th>*@
                        @*<th>CodProd </th>*@
                        <th>IDProd </th>
                        <th>IdMesa </th>
                        <th>Descrpción </th>
                        <th>Cantidad </th>
                        <th>Estado </th>
                        <th>Fecha </th>
                        <th>Total </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IDProd   </td>
                            <td>@item.CodiProd    </td>
                            <td>@item.TipoProd    </td>
                            <td>@item.DescProd    </td>
                            <td>@string.Format("{0:C}", @item.PrecioProd) </td>
                            <td>@item.CantProd  </td>


                            <td>@Html.ActionLink("Agregar", "AgregarCarrito", "OrdenPedidos", new { id = item.IDProd }, null) </td>
                        </tr>
                    }

                </tbody>
            </Table>
        }






        <div class="float-right">
            <nav>
                <ul>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Comprar", "Index", "MenuProductos")</li>
                    <li>@Html.ActionLink("Carrito", "Index", "OrdenPedidos")</li>
                </ul>
            </nav>

        </div>



        <div class="row">
            <div class="col-md-4 col-sm-12 mt-3">
                <!-- card para los proeudctos-->
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/Publica/img/blog2.jpg" alt="" class="fluid w-75">
                    </div>
                    <div class="footer bg-secondary">
                        <h6 class="mt-3 text-white font-weight-bold lead">Bebidas Calientes</h6>
                        <p class="text-white font-weight-bold">Descripcion: <br> <span>Cafe hecho con los mejores productos de CR</span></p>

                        <button class="btn btn-success mb-2" href="producto.html">Ver Menu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-3">
                <!-- card para los proeudctos-->
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/Publica/img/blog2.jpg" alt="" class="fluid w-75">
                    </div>
                    <div class="footer bg-secondary">
                        <h6 class="mt-3 text-white font-weight-bold lead">Reposteria Dulce</h6>
                        <p class="text-white font-weight-bold">Descripcion: <br> <span>La mejor variedad en productos dulces</span></p>

                        <button class="btn btn-success mb-2" href="producto.html">Ver Menu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-3">
                <!-- card para los proeudctos-->
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/Publica/img/blog2.jpg" alt="" class="fluid w-75">
                    </div>
                    <div class="footer bg-secondary">
                        <h6 class="mt-3 text-white font-weight-bold lead">Reposteria Salada y Sandwich </h6>
                        <p class="text-white font-weight-bold">Descripcion: <br> <span>La mejor variedad en productos salados</span></p>

                        <button class="btn btn-success mb-2" href="producto.html">Ver Menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Todos nuestros productos:</h1>

    <table class="table">







        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProd)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                @Html.DisplayNameFor(model => model.IDProd)
            </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CodiProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescProd)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.CantProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProd)
                </td>
                <td>

                    @Html.ActionLink("Detalles", "Details", new { id = item.IDProd }) |
                    <button class="btn btn-success mb-2" href="producto.html">Agregar al pedido</button>
                    @Html.ActionLink("Agregar", "AgregarCarrito", "OrdenPedidos", new { id = item.IDProd }, null)

                </td>
            </tr>
        }

    </table>


    <div class="container">
        <h2>Elija una opcion: </h2>
        <div class="list-group">
            <a href="#" class="list-group-item active">Ver orden - Ir a Carrito</a>
            <a href="#" class="list-group-item"> </a>
            <a href="https://localhost:44395/Home/Index/Mesas" class="list-group-item">Regresar al Inicio</a>
        </div>
    </div>


    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodiProd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoProd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescProd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioProd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantProd)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodiProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantProd)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDProd }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IDProd }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDProd })
                    </td>
                </tr>
            }

        </table>*@

</body>
</html>
