@model Gerencia_Proyectos_.Models.CajasRecepcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CajasRecepcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenPedidos.CodProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenPedidos.CodProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuProductos.CodiProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuProductos.CodiProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.Puesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCaja }) |
    @Html.ActionLink("Back to List", "Index")
</p>
